* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   
   
    max-height: 100vh;
}

header {
    min-height: 5rem;
    background-color: darkgoldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;

}

ul {
    color: white;
    display: flex;
    gap: 0.5rem;
}
@media (max-width:800px) {
   

  }
  .menu{
    display: none;
  }
  
  


